aff2_processed
__pycache__
trying_2
mtl_data
videos
.vscode
*.pth
wandb
curated_set
aff2_processed_new
*.log
tsav.png
face_alignment.py
examples/*.mp4
models
old_mtl_data
SEWA
AFEW-VA
baseline_1_models
baseline.tar
haarcascade_frontalface_alt2.xml
baseline_2_models/72_epoch_model.pth.gz
vid_length_16_models
videos
AFEW*
SEWA*
sewa*